{
    "extends": "airbnb-base",
    "rules": {
      // Permitir el uso de guiones bajos en identificadores (específicamente para _id)
      "no-underscore-dangle": ["error", { "allow": ["_id"] }],
      // Desactivar advertencias para console.log
      "no-console": ["warn", { "allow": ["log"] }],
      // Configurar estilo de saltos de línea para que sea compatible con diferentes sistemas
      "linebreak-style": "off"
    }
  }